@charset "UTF-8";
p {
  text-align: center;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
form {
  margin: auto;
  justify-content: center;
  align-items: center;
  /*display:flex;*/
}
.btn {
  background-color: aqua;
  color: #e50c0c;
  font: bold 34px Arial;
  width: 200px;
  height: 100px;
  vertical-align: middle;
  display: inline-flex;
}
.input-field {
  word-wrap: break-word;
  word-break: break-word;
  display:block;
  content: "\A";
}

form label {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
}

form input[type="text"]{
  display: inline-block;
}
br {
  clear: both;
}

searchresult {
  overflow: scroll;
}
